@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-container d-flex w-105 h-105 mx-auto flex-column main-container">
    <h1 class="pageTitle">Pet Database</h1>
</div>
    

@*
<img src="~/Images/PetBackground.jpg"/>*@
@*<style>
    background-image: url("~//Images//PetBackground.jpg")
</style>*@

    


    


     
       


 